{% assign text = year.text %}
{% assign year = year.year %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Top livres {{ year }} 📚</title>
    <link href="css/styles.css" rel="stylesheet"></link>
    <script async src="js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mes 10 livres préférés en {{ year }}">
    <meta name="generator" content="Eleventy">
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">
        {{ year }} en bouquins
      </h1>
      <p class="header__text">{{ text | addNbsp}}</p>
      <nav class="header__nav">
        Autres années :
        <ul>
          {%- for menuYear in collections.years -%}
            <li>
              {% if menuYear == year %}
                {{ menuYear }}
              {% else %}
                {% if forloop.first == true %}
                  <a href="/">{{ menuYear }}</a>
                {% else %}
                  <a href="{{ menuYear }}.html">{{ menuYear }}</a>
                {% endif %}
              {% endif %}
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    </header>
    <main class="items">
      {%- for item in collections.itemsAscendingByYear[year] -%}
        {% include "partials/item" %}
      {%- endfor -%}
    </main>
    <footer class="footer">

      <p>Réalisé par <a href="https://twitter.com/DctStrangelove" title="Page Twitter de Bastien Calou">Bastien Calou</a> dans le cadre d'un <a href="https://dev.to/bcalou/eleventy-pour-un-web-simple-performant-et-accessible-4m0p" rel="noopener noreferrer">article sur le générateur de sites statiques Eleventy</a></p>
      <p>Effets de couvertures 3D adaptés à partir du projet <a href="https://github.com/scastiel/book-cover-3d" title="Page Github du projet book-cover-3d" rel="noopener noreferrer">book-cover-3d</a></p>
      <p>Effets d'ouverture des éléments <code>&lt;details&gt;</code> adaptés à partir du tutoriel <a href="https://css-tricks.com/how-to-animate-the-details-element-using-waapi/" title="Article How to Animate the Details Element Using WAAPI sur CSS-Tricks" rel="noopener noreferrer">How to Animate the Details Element Using WAAPI</a></p>
    </footer>
  </body>
</html>
