<article class="item">
  <h2 class="item__title">
    {{ book.data.title }}
  </h2>
  {% if book.data.subtitle %}
    <h3 class="item__subtitle">{{ book.data.subtitle }}</h3>
  {% endif %}

  <p>
    {{ book.data.author }} •
    <time datetime="{{ book.data.year }}">{{ book.data.year }}</time>
  </p>

  <details class="item__details">
    <summary class="item__cta">Plus d'infos</summary>
    <div class="item__inner">
      <div class="item__description">{{ book.data.description }}</div>
      <div class="item__misc">
        <p>Éditeur : {{ book.data.publisher }}</p>
        <p>{{ book.data.pages }} pages</p>
      </div>
      <a
        href="{{ book.data.link }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Site de l'éditeur {{ book.data.publisher }}"
      >Site de l'éditeur</a>
    </div>
  </details>

  <div
    class="item__image book {% if book.data.offset %}book--offset{% endif %}"
    style="
      --width: {{ book.data.width }};
      --height: {{ book.data.height }};
      --pages: {{ book.data.pages }};
      {% if book.data.color %}--cover-color: {{ book.data.color }};{% endif %}
    "
  >
    <div class="book__inner">
      <picture class="book__cover">
        <source
          type="image/webp"
          srcset="
            dist/{{ book.fileSlug }}_350.webp 350w,
            dist/{{ book.fileSlug }}_700.webp 700w
          "
        >
        <source
          type="image/jpeg"
          srcset="
            dist/{{ book.fileSlug }}_350.jpg 350w,
            dist/{{ book.fileSlug }}_700.jpg 700w
          "
        >
        <img
          src="dist/{{ book.fileSlug }}_350.jpg"
          alt="Couverture de {{ book.data.title }}"
        >
      </picture>
    </div>
  </div>
</article>
