<article
  class="item"
  style="{% if item.data.color %}--cover-color: {{ item.data.color }}{% endif %}"
>
  <header class="item__header">
    <h2 class="item__title">
      {{ item.data.title }}
    </h2>
    {% if item.data.subtitle %}
      <h3 class="item__subtitle">{{ item.data.subtitle }}</h3>
    {% endif %}
  
    <p class="item__author">
      {{ item.data.author }} •
      <time datetime="{{ item.data.year }}">{{ item.data.year }}</time>
    </p>
  </header>

  <details class="item__details" open>
    <summary
      class="item__cta"
      style="
        {% if item.data.ctaColor %}--cta-color: {{ item.data.ctaColor}};{% endif %}
        {% if item.data.revertCtaTextColor %}--cta-text-color: #fff{% endif %}
      "
    >Plus d'infos</summary>
    <div class="item__inner">
      <div class="item__description">{{ item.data.description | addNbsp }}</div>
      <div class="item__misc">
        <p>Éditeur : {{ item.data.publisher }}</p>
        <p>{{ item.data.pages }} pages</p>
      </div>
      <a
        href="{{ item.data.link }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Site de l'éditeur {{ item.data.publisher }}"
      >Site de l'éditeur</a>
    </div>
  </details>

  <div
    class="item__image book {% if item.data.offset %}book--offset{% endif %}"
    style="
      --width: {{ item.data.width }};
      --height: {{ item.data.height }};
      --pages: {{ item.data.pages }};
    "
  >
    <div class="book__inner">
      {% bookImage item forloop.index %}
    </div>
  </div>
</article>
